html {
  background-color: #1f2f41;
  color: #fcfcaf; }

body {
  margin: 3rem 0 0; }

header, footer {
  text-align: center;
  margin: 0; }
  header h1, footer h1 {
    margin: 0;
    text-transform: uppercase;
    text-shadow: 0px 1px 0 #aed5ff;
    font-family: "effra", sans-serif; }
  header h2, footer h2 {
    font-family: "ff-meta-serif-web-pro", serif;
    margin: 0;
    color: #aed5ff;
    margin-bottom: 6rem; }

p {
  font-family: "ff-meta-serif-web-pro", serif;
  font-size: 1.2rem;
  color: #aed5ff;
  line-height: 1.4; }

a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #aed5ff;
  text-decoration: underline; }
  a:hover {
    color: #fcfcaf; }

.clear:after {
  content: " ";
  display: table;
  clear: both; }

section {
  text-align: center; }

article {
  max-width: 40rem;
  text-align: left;
  margin: 0 auto 6rem;
  padding: 0 1rem 4rem; }
  article h1 {
    font-family: "effra", sans-serif;
    font-size: 1.75rem;
    margin: 0;
    line-height: 42px; }

.meta {
  border-bottom: 1px solid #aed5ff;
  padding-bottom: 12px;
  margin-bottom: 1rem; }

time {
  color: #aed5ff;
  float: left;
  padding-right: 1.4rem;
  padding-top: 11px; }
  time span {
    display: block;
    text-transform: uppercase;
    font-weight: bold; }
  time .month {
    font-size: 18px;
    line-height: 1; }
  time .day {
    font-size: 38px;
    line-height: 0.8; }

.movie {
  position: relative;
  height: 0;
  padding-bottom: 61%;
  clear: both; }

iframe, object, embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

aside:after {
  content: " ";
  display: table;
  clear: both; }
aside h2 {
  font-family: "effra", sans-serif;
  margin: 0 0 0.5rem; }
aside ul {
  color: #aed5ff;
  font-family: "ff-meta-serif-web-pro", serif;
  padding: 0;
  margin: 0;
  list-style: none; }

footer {
  text-align: center;
  background-color: #162029;
  width: 100%;
  padding: 4rem 0; }
